<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cggeeker.mapper.CommentMapper">
    <resultMap id="BaseResultMap" type="Comment">  <!--springboot中实体类自动映射表字段(也就是：@Table(name = "xxx"))，无需这样配置了-->
        <id column="comment_id" jdbcType="INTEGER" property="commentId"/>
        <result column="username" jdbcType="VARCHAR" property="userName"/>
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
        <result column="articleid" jdbcType="INTEGER" property="articleId"/>
        <result column="commenttime" jdbcType="TIMESTAMP" property="commentTime"/>
    </resultMap>
    <sql id="Base_Column_List">comment_id,username,comment,articleid,commenttime</sql>

    <select id="findCommentById" parameterType="java.lang.Integer" resultType="ArticleAndLabel">
        select <include refid="Base_Column_List"/>
        from comment_tb
        where articleid = #{articleId,jdbcType=INTEGER}
    </select>

</mapper>